<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <% include ./partials/nav %>
        <div class="card" style="width: 50%">

        <form id="delete" method="post" action="/garage/project/delete/<%=project._id%>">
          <input class="form-control" id="title" name="title" type="hidden" value="<%=project.title%>"></textarea>
          <input id="_id" name="_id" type="hidden" value="<%=project._id%>">
        </form>

        <form id="edit" method="post" action="/garage/project/edit/" style="padding: 20px">
            <div class="form-group">
                <label for="title" class="text-primary">Title</label>
                <input class="form-control" id="title" name="title" value="<%=project.title%>">

                <label for="detail" class="text-primary">Details</label>
                <input class="form-control" id="detail" name="detail" value="<%=project.detail%>">

                <label for="priority" class="text-primary">Priority</label>
                <select class="form-control" id="priority" name="priority">
                    <% switch(project.priority) {
                        case 'Normal': %>
                            <option>Low</option>
                            <option selected>Normal</option>
                            <option>High</option>
                        <% break; %>
                        <% case 'High': %>
                            <option>Low</option>
                            <option>Normal</option>
                            <option selected>High</option>
                        <% break; %>
                        <% case 'Low': %>
                            <option selected>Low</option>
                            <option>Normal</option>
                            <option>High</option>
                        <% break; %>
                    <% } %>
                </select>

                <label for="_id" class="text-primary">ID</label>
                <input class="form-control" id="_id" name="_id" type="text" value="<%=project._id%>">

                <label for="gitUrl" class="text-primary">gitUrl</label>
                <input class="form-control" id="gitUrl" name="gitUrl" type="url" value="<%=project.gitUrl%>">

                <label for="isComplete" class="text-primary">isComplete</label>
                <input class="form-control" id="isComplete" name="isComplete" type="text" value="<%=project.isComplete%>">
                <!-- <label for="duedate" class="text-primary">Due Date:</label>
                <input type="date" class="form-control" id="duedate" name="dueDate" value="<%=project.dueDate%>"> -->
            </div>
            <input form="delete" type="submit" class="btn btn-danger" value="Delete project">
            <input form="edit" type="submit" class="btn btn-primary" value="Save project">
        </form>

        </div>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
